.css-1hjz1j2-unf-heading {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    color: rgba(49, 53, 59, 0.96);
    text-decoration: initial;
    margin: 0px;
}