.kuning {
    background-color: yellow;
    padding: 50px;
}

.container h1 {
    font-family: Raleway;
    font: 200;
    text-align: center;
}

.container h5 {
    text-align: center;
}

.container h2 {
    text-align: center;
}

.container h4 {
    text-align: center;
}

.mulai {
    text-align: center;
    width: auto;
    height: auto;
    background-color: yellow;
    transition: all 1s ease;
}

.mulai:hover {
    transform: scale(1.1);
    border: 4px solid lightgrey;
    box-shadow: 2px 2px 2px 2px dimgrey;
}